* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: rgba(6, 121, 156, 0.623);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 60px;
  width: 100%;
}
.card-price {
  margin: 20px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  max-width: 300px;
  box-shadow: 1px 1px 19px 0px #0000000d;
}
.card-price h2 {
  font-size: 20px;
}
.card-price form {
  padding: 15px;
}
.card-price div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-price label {
  font-size: 16px;
  margin-bottom: 10px;
}
.card-price input {
  border: none;
  background-color: rgb(223, 223, 223);
  height: 30px;
  border-radius: 8px;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 18px;
  width: 90%;
}
.card-price button {
  background-color: blueviolet;
  color: white;
  font-size: 18px;
  font-weight: 600;
  height: 45px;
  border: none;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
}
.cupon > p{
  color: rgb(231, 0, 39);
  margin: 5px;
}
#finalPrice{
  margin: 0 auto;
  width: 90%;
  color: white;
  font-size: 18px;
  background-color: rgb(32, 32, 32);
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}